@charset "UTF-8";
/* CSS Document */

h4 .link:hover {
	text-decoration: none;
	color: black;
}

.modules-list {
	list-style-type: none;
	margin: 0px; padding: 0px;
	position: relative;
	left: -35px;
	width: 630px;
}

.new-mail-icon {
	color: #fff;
	font-weight: bold;
	font-size: 8pt;
	letter-spacing: 0pt;
	font-family: Helvetica, Arial;
	background-image: url(./images/new-mail-bg.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	padding-top: 2px;
	padding-left: 1px;
	text-align: center;
	position: relative;
	top: -84px;
	left: 90px;
	margin-bottom: -22px;
}

.module {
	text-align: center;
	margin: 13px 13px;
	width: 125px;
	background-color: #efefef;
	-moz-border-radius: 10px;
	border-radius: 10px;
	list-style-type: none;
	padding: 0px;
	display: -moz-inline-block;
	display: inline-block;
}

.ui-state-highlight {
	background-image: none;
	background-color: #fff;
	border: none;
	-moz-border-radius: 10px;
	list-style-type: none;
	padding: 0px;
	display: inline-block;
	width: 125px;
	height: 100px;
	margin: 0px 13px;
	margin-bottom: 0px;
}

.module.available {
	background-color: #fff;
	border: 2px dashed silver;
	width: 121px;
}

.module img {
	width: 70px;
	border: 0px;
}

.module .img-link {
	display: block;
	-moz-border-radius: 5px;
	padding: 10px;
}

.module .title {
	margin: 0px;
}

.module .title a {
	margin: 0 auto;
	display: block;
	padding: 10px 10px;
	padding-top: 0px;

-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	font-weight: bold;
	color: #333;
}