span.sf-sub-indicator {padding-left: 2px;}

#header { z-index: 6;  position: relative; }
#header-bottom { z-index: 5;  position: relative; }
#content { z-index: 4; position: relative; }

ul#primary-menu ul a { height: 25px; }
.widget-content, #sidebar-content, #sidebar-bottom, #sidebar { height: 1%; }
ul#main-tabbed-area a:hover { cursor: pointer; }

#footer-bottom .container { overflow: hidden; }