body {
    background-color: #35383b;
}

#header {
    background-image: url('../img/header-bg.gif');
    background-repeat: repeat-x;
}

#header h1 {
    background-image: url(../img/logo-h1.png);
    height: 40px;
    top: 18px;
}

#sidebar > ul > li a:hover {
    background-color: #48494a;
}

#sidebar ul ul {
    background-color: #282a2b;
}

#sidebar > ul > li.active {
    background: rgb(41,43,45); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(41,43,45,1) 0%, rgba(64,65,66,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,43,45,1)), color-stop(100%,rgba(64,65,66,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(41,43,45,1) 0%,rgba(64,65,66,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(41,43,45,1) 0%,rgba(64,65,66,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(41,43,45,1) 0%,rgba(64,65,66,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(41,43,45,1) 0%,rgba(64,65,66,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292b2d', endColorstr='#404142',GradientType=0 ); /* IE6-9 */
}
#sidebar ul ul li a:hover {
    background-color: #191b1c;
}

#user-nav .user-name {
    color: #fff;
    margin-top: 5px;
    margin-right: 10px;
}

.quick-actions.dashboard {
    text-align: left;
}
.quick-actions.dashboard li {
    margin-bottom:  20px;
    width: 150px;
}

.quick-actions.dashboard li a {
    padding: 15px;
}

.quick-actions.dashboard li a .title {
    font-size: 10pt;
}

.quick-actions.dashboard li a img {
    height: 90px;
    display: block;
    margin: 0 auto 20px;
    border-style: dashed;
}

.quick-actions.dashboard li.disabled {
    display: none;
}

.quick-actions.dashboard li.offline {
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#afafaf), to(#d6d6d6));
    background-image: -webkit-linear-gradient(top, #afafaf 0%, #d6d6d6 100%);
    background-image: -moz-linear-gradient(top, #afafaf 0%, #d6d6d6 100%);
    background-image: -ms-linear-gradient(top, #afafaf 0%, #d6d6d6 100%);
    background-image: -o-linear-gradient(top, #afafaf 0%, #d6d6d6 100%);
    background-image: linear-gradient(top, #afafaf 0%, #d6d6d6 100%);
    display: inline-block;
}

.quick-actions.dashboard li.offline a {
    cursor: default;
}

.quick-actions.dashboard.edit-mode li.disabled {
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#F2DEDE), to(#EED3D7));
    background-image: -webkit-linear-gradient(top, #F2DEDE 0%, #EED3D7 100%);
    background-image: -moz-linear-gradient(top, #F2DEDE 0%, #EED3D7 100%);
    background-image: -ms-linear-gradient(top, #F2DEDE 0%, #EED3D7 100%);
    background-image: -o-linear-gradient(top, #F2DEDE 0%, #EED3D7 100%);
    background-image: linear-gradient(top, #F2DEDE 0%, #EED3D7 100%);
    display: inline-block;
}

.quick-actions.dashboard.edit-mode li.enabled {
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#DFF0D8), to(#D6E9C6));
    background-image: -webkit-linear-gradient(top, #DFF0D8 0%, #D6E9C6 100%);
    background-image: -moz-linear-gradient(top, #DFF0D8 0%, #D6E9C6 100%);
    background-image: -ms-linear-gradient(top, #DFF0D8 0%, #D6E9C6 100%);
    background-image: -o-linear-gradient(top, #DFF0D8 0%, #D6E9C6 100%);
    background-image: linear-gradient(top, #DFF0D8 0%, #D6E9C6 100%);
}

.quick-actions.dashboard.edit-mode li.disabled img {
    opacity: 0.5;
    -moz-opacity: 0.5;
}

.action-buttons .btn-refresh img {
    display: none;
}

.action-buttons a.btn {
    margin-left: 10px;
}

#user-nav ul li a {
    font-size: 10pt;
}

.widget-content table th {
    text-align: right;
    font-size: 8pt;
}

#content-layer .alert.alert-error, #content-layer .alert.alert-success {
    display: none;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* Horaire de cours */
#calendar .fc-widget-header {
    text-align: center;
    text-transform: lowercase;
}

#calendar .fc-header-title h2 {
    font-size: 10pt;
    font-weight: normal;
}

#calendar .fc-header-left {
    width: 90px;
}

#calendar .fc-header-left .fc-button {
    float: left;
}

#calendar .fc-header-center {
    padding-right: 10%;
}

#calendar .fc-event-title {
    font-weight: bold;
}

#calendar .fc-event-title div {
    font-weight: normal;
}

#external-events .class {
    background-color: #dae6f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 92%;
}

#external-events .class .title {
font-weight: bold;
    margin-bottom: 5px;
}

#external-events .class .code, #external-events .class {
    float: left;
}

#external-events .class .nrc, #external-events .class {
    float: right;
}

#external-events .class .type {
    margin-bottom: 5px;
    margin-top: 5px;
}

.hero-unit.no-data {
    background-color: #ccc;
}

.alert.alert-error, .alert.alert-success {
    display: none;
}

.footer .navbar, .footer .navbar-inner {
    background: none;
    border: 0px;
    box-shadow: none;
}

.footer {
    padding: 10px;
    background-image: url('../img/footer-bg.gif');
}

.footer .nav li.active {
    background: none;
}

#sidebar li.submenu .label {
    background: none;
    border: 1px solid none!important;
    box-shadow: none;
}

#content-layer .row-fluid:first-child {
    margin-top: 5px;
}

.loading-status {
    padding-right: 10px;
}

.request-description {
    font-size: 7pt;
    color: silver;
    line-height: 12pt;
    border: 1px dotted silver;
    padding: 5px;
    margin-top: 0.5cm;
    margin-bottom: 0.3cm;
    display: none;
}

.sharing-notice {
    margin-bottom: 0px; margin-top: 20px;
    padding-right: 8px;
    padding-bottom: 5px;
}

.sharing-notice input {
    padding: 2px 3px 0px;
    width: 380px;
    border: 0px;
    margin-top: 4px;
}

.capsule-offline {
    margin: 30px 10px 0px;
    display: none;
}

.capsule-offline.offline {
    display: block;
}

#external-frame {
    background: #fff;
    position: absolute;
    top: 40px;
    display: none;
    border-top: 2px solid #444;
}

#header h1.small {
    background-image: url(../img/logo-h1-small.png);
    height: 40px;
    top: 1px;
}

#user-nav {
    right: 10px;
}

#user-nav .nav.external-frame {
    display: none;
}

#notifications {
    margin: 0px 10px 0;
    border-bottom: 0px;
}

#notifications .alert h4 {
    margin-bottom: 5px;
}
#notifications .alert {
    padding-right: 10px;
}

.semester-select {
	margin-top: 20px;
}

#breadcrumb {
    display: block;
}

#modal p {
    line-height: 20px; margin-top: 0px; padding-top: 0px;
}

#modal h4 {
    margin-top: 10px;
}

#modal .loading-classes {
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}

#modal .loading-classes div:first-child {
    margin-bottom: 30px;
}

#modal .loading-classes span {
    color: gray;
}

#modal .classes-list .class .type {
    float: left;
}

#modal .classes-list .class .semester {
    float: right; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; color: #666;
}

#modal .classes-list .class .timetable {
    line-height: 12pt; padding-top: 5px;
}

#modal .classes-list .class .timetable table {
    width: 100%; background-color: #cdcdcd; padding: 5px; margin-bottom: 5px;
}

#modal .classes-list .class .timetable table td.dates {
    font-weight: bold; padding-bottom: 5px; border-bottom: 1px dotted #999;
}

#modal .classes-list .class .spots span {
    font-weight: bold;
    color: #444;
}

#modal .classes-list .class .spots span.almost-full {
    color: orange;
}

#modal .classes-list .class .spots span.full {
    color: red;
}

#modal .classes-list .class .registration-state {

}

#modal .classes-list .class .registration-state span.selected {
    color: orange;
}


#modal .classes-list .class .registration-state span.registered {
    color: green;
}