body {
  margin: 0px;
}

#in-nav, #in-sub-nav, .container .aside, footer, .action-buttons .buttons, .no-print {
  display: none!important;
}

.container .main {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container h4 i, .container h5 i {
  display: none;
}

th.course-code {
  width: 2cm!important;
}

.request-description {
  display: block;
}
