body {
	width: 8.5in;
  margin: 0.5cm;
  background: none;
}

#in-nav, #in-sub-nav, .container .aside, footer, .action-buttons .buttons > .btn, .no-print {
  display: none!important;
}

.page {
	width: 100%;
	border-radius: 0px;
	box-shadow: none;
  margin-top: 0px;
  padding-top: 0px;
}

.container {
	width: 100%;
}

.container .main {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.container h4 i, .container h5 i {
  display: none;
}

th.course-code {
  width: 2cm!important;
}

.request-description {
  display: block;
}

.btn {
  border: 0px;
  box-shadow: none;

  .caret {
    display: none;
  }
}