@import 'global';
@import 'partials/_courses-list';

table.courses-list {
	tbody {
		tr td {
			cursor: pointer;
		}

		tr.available td {
			color: green;
		}

		tr.not-available td {
			color: gray;
		}

		tr.not-available {
			:not(.done) {
				display: none;
			}
		}
		tr.done td {
			color: black;
		}

		tr.current td {
			color: orange;
		}
	}
}

body .modal {
    //new custom width
    width: 800px;
    margin-left: -400px;

    .classes-list {
    	.class {
    		background-color: #ddd;
    		border-radius: 5px;
    		padding: 10px;
    		margin-bottom: 20px;

    		hr {
    			margin: 5px 0;
    			border: 1px dotted silver;
    		}

    		.type {
    			float: left;
    			font-weight: bold;
    		}

    		.semester {
    			float: right;
    			font-weight: bold;
    		}

    		.notes {
    			font-size: 8pt;
    		}

    		.nrc {
    			float: left;
    		}

    		.registration-state {
    			float: right;

    			.loading-img {
    				display: none;
    			}
    		}
    	}
    }
}

.aside {
    .registered-courses, .selected-courses {        
        table thead tr th {
            font-weight: bold;
            text-align: left;
        }

        table tbody {
            tr td {
                cursor: pointer;

                .code {
                    font-weight: bold;
                }

                .title {
                    font-size: 9pt;
                }
            }
        }
    }
}

.popover-title {
    button.remove-course, img.loading-img {
        float: right;
        position: relative;
        top: -2px;
    }

    img.loading-img {
        display: none;
        top: 0px;
    }

    &.loading {
        button.remove-course {
            display: none;
        }

        img.loading-img {
            display: block;
        }
    }
}

.popover-content {
    hr {
        margin: 5px 0;
    }
}

.aside .alert-info {
    padding-right: 14px;
    font-size: 12px;
}

.registration-results {
    tr.registered td {
        color: green;
    }

    tr.waiting td {
        color: orange;
    }

    tr.error td {
        color: red;
    }
}