@import 'global';
@import 'partials/_courses-list';

table.courses-list {
	tbody {
		tr td {
			cursor: pointer;
		}

		tr.available td {
			color: green;
		}

		tr.not-available td {
			color: gray;
		}

		tr.done td {
			color: black;
		}

		tr.current td {
			color: orange;
		}
	}

    &.search-results {
        thead {
            th.semester {
                width: 20%;
            }
        }
    }
}

body .modal {
    //new custom width
    width: 800px;
    margin-left: -400px;

    .modal-header {
        h3 {
            .left {
                float: left;
            }

            .right {
                float: right;
            }
        }
    }
    .modal-body {
        max-height: 475px;
    }

    .classes-list {
    	.class {
    		background-color: #ddd;
    		border-radius: 5px;
    		padding: 10px;
    		margin-bottom: 20px;

    		hr {
    			margin: 5px 0;
    			border: 1px dotted silver;
    		}

    		.type {
    			float: left;
    			font-weight: bold;
    		}

    		.semester {
    			float: right;
    			font-weight: bold;
    		}

    		.notes {
    			font-size: 8pt;
    		}

    		.nrc {
    			float: left;
    		}

    		.registration-state {
    			float: right;

    			.loading-img {
    				display: none;
    			}
    		}

            .timetable {
                background-color: #fff;
                padding: 5px;
                border-radius: 5px;
                margin-bottom: 5px;

                .dates {
                    font-weight: bold;
                }
            }
    	}
    }

    .loading-classes {
        .img {
            margin-left: 150px;
            float: left;
            margin-right: 40px;
        }

        .lead {
            float: left;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

.searching-courses {
    padding: 20px 30px 50px;

    .image {
        margin-top: 20px;
        text-align: right;

        img {
            padding-right: 30px;
        }
    }
}

form.search {
    margin-bottom: 0px;

    .input-radio {
        text-align: right;
        margin-top: 25px;
    }

    .error {
        color: red !important;
        margin-bottom: 15px;
    }
}

.search-results-container {
    display: none;

    hr {
        margin: 10px 0 0;
    }

    .results {
        display: none;
    }
}

.aside {
    .registered-courses, .selected-courses {        
        table thead tr th {
            font-weight: bold;
            text-align: left;
        }

        table tbody {
            tr td {
                cursor: pointer;

                .code {
                    font-weight: bold;
                }

                .title {
                    font-size: 9pt;
                }
            }
        }
    }

    .sidebar {
        margin-bottom: 30px;
    }

    .courses-selection {
        color: black;
        padding: 10px;

        h4 {
            color: black;
            border-bottom: 0px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        table tbody td {
            border-top: 1px solid #fbeed5;
        }

        table tbody tr:hover {
            background-color: #fbeed5;
            border-radius: 5px;
        }

        hr {
            margin: 10px 0;
        }

        .registration-notice {
            margin-top: 20px; line-height: 12px; text-align: center; width: 180px; margin-left: auto; margin-right: auto; margin-bottom: 10px; color: #c09853; font-size: 8pt;
        }

        .registration-button {
            text-align: center;
            margin-bottom: 10px;
        }

        .selected-courses table {
            margin-bottom: 10px;
        }
    }
}

.popover-title {
    button.remove-course, img.loading-img {
        float: right;
        position: relative;
        top: -2px;
    }

    img.loading-img {
        display: none;
        top: 0px;
    }

    &.loading {
        button.remove-course {
            display: none;
        }

        img.loading-img {
            display: block;
        }
    }
}

.popover-content {
    hr {
        margin: 5px 0;
    }
}

.aside .alert-info {
    padding-right: 14px;
    font-size: 12px;
}

.registration-results {
    tr.registered td {
        color: green;
    }

    tr.waiting td {
        color: orange;
    }

    tr.error td {
        color: red;
    }
}

.courses-display ul li.selected a {
    font-weight: bold;
}