@import 'global';

@media (max-width: 480px) {
    .action-buttons {
        .js-download-btn {
            display: none;
        }
    }

    h4.header span.long {
        display: none;
    }
}

.main > .semesters-dropdown.compact {
    display: none;
}

.action-buttons .buttons {
    .semesters-dropdown {
        float: right;
        margin-top: 0px;
        margin-left: 10px;

        .select-label {
            display: none;
        }
    }
}

#external-events .class {
    background-color: #dae6f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 92%;
    float: right;

    .title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .code {
        float: left;
    }

    .nrc {
        float: right;
    }

    .type {
        margin-bottom: 5px;
        margin-top: 5px;
    }
}
