@import 'global';

@media (max-width: 480px) {
    .action-buttons {
        .js-download-btn {
            display: none;
        }
    }

    h4.header span.long {
        display: none;
    }
}

@media only screen and (min-width: 551px) {
    .action-buttons .semesters-dropdown.compact {
        display: none;
    }
}

.calendar-header {
    .dates {
        margin-top: 5px;
        text-align: center;
    }

    &.no-regular-courses {
        .span4:first-child, .dates {
            display: none;
        }

        .calendar-semester {
            float: right;
        }
    }
}

.calendar-semester {
    .semesters-dropdown {
        margin-top: 10px;
    }

    .semesters-dropdown.compact {
        display: none;
    }
}

.action-buttons .buttons {
    .semesters-dropdown {
        float: right;
        margin-top: 0px;
        margin-left: 10px;

        .select-label {
            display: none;
        }
    }
}

#agenda {
    margin-top: 10px;

    table {
        thead {
            th {
                text-align: center;
                background-color: silver;
            }

            th {
                width: 18%;
            }

            th:first-child {
                width: 10%;
            }
        }

        tbody {
            td, th {
                padding: 5px;
                border-right: 1px solid #ccc;
            }

            th.hour {
                text-align: center;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 11px;
                font-weight: normal;
                color: #666;
                border-left: 1px solid #ccc;
            }

            tr:nth-child(odd) td {
                border-top: 1px solid #ccc;
            }

            tr:nth-child(even) td, tr:nth-child(even) th {
                border-top: 1px solid #eee;
            }

            tr:last-child td, tr:last-child th.hour {
                border-bottom: 1px solid #ccc;
            }

            td.class {
                padding: 1px;
                border: 1px solid silver;
                background-color: #08c;

                .inside {
                    height: 100%;
                    color: #fff;
                    padding: 6px 8px;
                    font-weight: normal;
                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

                    .code {
                        font-weight: bold;
                    }

                    .title, .teacher, .location {
                        font-size: 12px;
                        margin-top: 3px;
                        padding-top: 3px;
                        border-top: 1px dotted #eee;
                    }

                    .title .short {
                        display: none;
                    }

                    .location .label {
                        display: none;
                    }
                }

                &.length-half {
                    .inside {
                        padding: 4px 8px;
                    }

                    .title, .teacher, .location {
                        display: none;
                    }
                }

                &.length-hour {
                    .title, .teacher {
                        display: none;
                    }
                }

                &.length-hour-half {
                    .title {
                        display: none;
                    }
                }
            }
        }
    }

    table.week {
        display: none;
    }

    table.week:first-child {
        display: table;
    }
}

#mobile-agenda {
    display: none;

    .week {
        display: none;

        .class {
            .hours {
                float: left;
                width: 50px;
                line-height: 10pt;
                font-size: 10pt;
                margin-top: 5px;
                color: #08c;
            }

            .details {
                float: left;
                width: 75%;
                border-left: 5px solid #08c;
                padding-left: 10px;

                .code {
                    color: gray;
                    font-weight: normal;
                }

                .title {
                    font-weight: bold;
                }

                hr {
                    margin: 5px 0;
                }
            }
        }
    }

    .week:first-child {
        display: table;
    }
}

@media (max-width: 980px) {
    .calendar-semester {
        .semesters-dropdown .select-label {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .calendar-header {
        .span4 {
            float: left;
            width: 31.491712707182323%;
        }

        .span4.calendar-semester {
            float: right;
        }
    }
}

@media (max-width: 550px) {
    .calendar-header {
        .dates {
            float: right;
            width: 60%;
            text-align: right;
        }

        .span4.calendar-semester {
            display: none;
        }
    }
}

@media (max-width: 660px) {
    #agenda {
        table {
            tbody {
                td.class {
                    .title {
                        .short {
                            display: inline!important;
                        }

                        .full {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 660px) {
    #mobile-agenda {
        display: block;
    }

    #agenda {
        display: none;
    }
}

#external-events {
    .class {
        margin-bottom: 20px;
        .details {
            border-left: 5px solid #08c;
            padding-left: 10px;

            .code {
                color: gray;
                font-weight: normal;
            }

            .title {
                font-weight: bold;
            }

            hr {
                margin: 5px 0;
            }
        }
    }
}

@media print {
    .calendar-header {
        .span4:first-child, .calendar-semester {
            display: none;
        }

        .dates {
            float: none;
            width: 100%;
        }
    }

    .action-buttons .semesters-dropdown.compact {
        display: block !important;
        margin-top: 10px;

        a.dropdown-toggle {
            font-weight: bold;
        }
    }

    #agenda table .class .inside i {
        display: none;
    }

    #agenda table .class .inside .location .label {
        display: inline !important;
    }
}