@import 'global';

table.courses-credits, table.gpas {
	thead th {
		text-align: center;
	}

	tbody td:not(.requirements) {
		text-align: center;
	}
}

h4.formation {
	margin-bottom: 30px;
}

.table-panel {
	.expand-icon {
		display: none;
	}
}

table.courses-list {
	margin-bottom: 30px;
	tbody td.code {
		font-weight: bold;
	}

	thead th {
		cursor: pointer;
	}

	thead th.semester, thead th.credits, thead th.note {
		text-align: center;
		width: 10%;
	}

	thead th:first-child {
		width: 15%;
	}

	thead th.title {
		width: 60%;
	}

	td.code .mobile-title {
		font-weight: normal;
		display: none;
	}

	tbody td.semester, tbody td.credits, tbody td.note {
		text-align: center;
	}

	tfoot th.left {
		text-align: right;
	}

	tfoot td.total-credits {
		text-align: center;
		font-weight: bold;
	}
}

@media (max-width: 480px) {
	.table-panel {
		&.expandable {
			table {
				display: none;
			}

			h4 {
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 1px solid #eee;
				cursor: pointer;

				.expand-icon {
					display: block;
					float: right;

					i.icon-chevron-down {
						display: inline-block;
					}

					i.icon-chevron-up {
						display: none;
					}
				}
			}

			&.expanded {
				table {
					display: block;
				}
				
				h4 {
					padding-bottom: 0px;
					border-bottom: none;

					i.icon-chevron-down {
						display: none;
					}

					i.icon-chevron-up {
						display: inline-block;
					}
				}
			}
		}
	}
}

@media (max-width: 660px) {
	table.courses-list {
		thead th.title, tbody td.title {
			display: none;
		}

		thead th:first-child {
			width: 70%;
		}

		thead th.note {
			width: 20%;
		}

		td.code .mobile-title {
			display: inline;
		}
	}
}